<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/rent-pet/<%= pet.rent_pet_id %>" method="POST">

            <div>                
                <select name="interval">
                    <% for (let i=0; i < 14; i++ ) { %>
                        <option value="<%= i + 1 %>"> <%= i + 1 %> </option>
                    <% } %>   
                </select>
            </div>

            <input type="submit" class="btn" value="Rent!">
        </form>

    </div>
</body>
</html>